name: PRs auto merge

on:
  pull_request_review:
    types: [submitted]

jobs:
  pr-automerge:
    runs-on: ubuntu-latest
    steps:
    - uses: davideviolante/pr-automerge-action@v1.2.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        merge-method: 'squash'
        min-approvals: 3
        base-ref: 'master'
