# This is a basic workflow to help you get started with Actions

name: welcome

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  pull_request_target:
    types: [closed]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        if: github.event.pull_request.merged == true
        uses: actions/checkout@v1

      - name: Comment PR
        if: github.event.pull_request.merged == true
        uses: thollander/actions-comment-pull-request@master
        with:
          message: > 
            Congratulations! As part of the Open Grants Program, we want to help winning teams acknowledge their grants publicly. To that end, we’ve created a [badge for projects](https://github.com/w3f/General-Grants-Program/blob/master/grants/grant-badge-guidelines.md)
            that successfully delivered their first milestone. Please observe the 
            [foundation’s guidelines](https://github.com/w3f/General-Grants-Program/blob/master/grants/announcement-guidelines.md) when making any announcements; in particular, <b>don’t announce the grant publicly before you've completed at least the first
            milestone of the project.<b> <br/><br/> 
            At that point, we will be happy to collaborate on an announcement about the work you’re doing. 
            Please get in touch with us at grantspr@web3.foundation in case you're interested (at least two weeks notice is preferred).
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
